<%= turbo_stream_from @guest_token %>

<div class="bg-gradient-to-r from-indigo-500 to-purple-500 min-h-[100vh] pt-36 px-4 md:px-0">
  <div id="<%= @guest_token %>-container" class="w-full">
    <h1 class="font-bold text-6xl md:text-7xl text-gray-100 text-center">CSS Genius</h1>
    <p class="text-xl text-gray-100 mb-6 text-center">AI generated custom UI components for Tailwindcss </p>
    
    <div class="relative max-w-2xl w-full mx-auto">
      <%= form_with url: "/ai_components?uniq_id=#{@guest_token}", model: AiComponent.new do |f| %>
        <div class="relative w-full">
          <%= f.text_field :ai_prompt, class: "w-full rounded-full py-3 border-2 border-gray-300 outline-none peer", placeholder: "Enter a prompt to generate tailwindcss code" %>
          <div class="absolute right-0 top-0 bg-white h-full w-24 text-indigo-700 rounded-r-full border-r-2 border-gray-300 border-t-2 border-b-2 rounded-r-full peer-focus:ring-indigo-500 peer-focus:border-indigo-500 overflow-hidden">
            <%= button_to "Prompt", class: "w-full h-full flex items-center justify-center hover:bg-gray-300" do %>
              <div class="w-8">
                <%= render Icons::CheckComponent.new %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="flex items-center justify-center w-full mx-auto mt-4">
        <% if current_user && !current_user.active_subscription %>
          <span class="mr-2 text-gray-100"> <%= current_user.daily_trys %> free components for the day </span>
            <%= link_to "Upgrade Membership", new_subscription_path, class: "text-indigo-200 p-2 rounded-full hover:bg-indigo-500 hover:text-indigo-100 font-semibold" %> 
          <span class="ml-2 text-gray-100"> to get unlimited </span>
        <% end %>
      </div>
    </div>

    <% if @component_packs.any? %>
      <div class="max-w-5xl w-full mx-auto mt-32">
        <%= link_to "Browse Collection", "#", class: "text-2xl text-gray-200" %>
        <div class="grid grid-cols-3 gap-4 mt-4">
          <% @component_packs.each do |component_pack| %>
            <%= link_to free_component_pack_path(component_pack) do %>
              <div class="flex flex-col">
                <div class="bg-gray-200 rounded-lg w-full h-64 overflow-hidden"> 
                  <%= image_tag component_pack.image, class: "h-full object-cover" %>
                </div>
                <p class="text-2xl text-gray-200 mt-2"> <%= component_pack.name %> </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
