<%= turbo_stream_from @ai_component %>
<div class="grid h-full w-full p-8">
  <div class="h-[50vh] bg-gray-300 flex justify-center items-center overflow-auto" id="<%= dom_id(@ai_component) %>">
    <%== @ai_component.html_content rescue "There was an error in code" %>
  </div>
  
  <div id="<%= dom_id(@ai_component, :clipboard_and_form)%>">
    <%= render "clipboard_and_form", ai_component: @ai_component %>
  </div>
</div>