<%= turbo_stream_from @ai_component %>
<div class="grid h-full w-full p-8">
  <div class="h-[50vh] bg-gray-300 flex justify-center items-center overflow-auto" id="<%= dom_id(@ai_component) %>">
    <%== @ai_component.html_content rescue "There was an error in code" %>
  </div>

  <%= turbo_frame_tag :ai_promp do %>
    <div class="max-w-7xl w-full mx-auto mt-8 mb-4">
      <div class="relative max-w-2xl w-full">
        <%= form_with url: ai_component_additions_path(@ai_component), model: AiComponent.new do |f| %>
          <%= f.text_field :ai_prompt, class: "w-full rounded-full py-3 border-2 border-gray-300 outline-none peer", placeholder: "Enter in any modifications wanted", autofocus: true %>
          <div class="absolute right-0 top-0 bg-white h-full w-24 text-indigo-700 rounded-r-full border-r-2 border-gray-300 border-t-2 border-b-2 rounded-r-full peer-focus:ring-indigo-500 peer-focus:border-indigo-500 overflow-hidden">
            <%= button_to "Prompt", class: "w-full h-full flex items-center justify-center hover:bg-gray-300" do %>
              <div class="w-8">
                <%= render Icons::CheckComponent.new %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
    
  <div id="<%= dom_id(@ai_component, :clipboard)%>">
    <%= render "clipboard", ai_component: @ai_component %>
  </div>
</div>