<div class="bg-white rounded-lg shadow-lg">  
  <img class="w-full h-56 object-cover overflow-hidden rounded-t-lg" src="<%= component_pack.image.attached? ? url_for(component_pack.image) : asset_path("ai-brain.jpg") %>" alt="Card Image">  
  <div class="px-2 py-4">    
    <div class="flex justify-between w-full">
      <h3 class="text-xl font-semibold text-gray-800"><%= component_pack.name %></h3>
      <div data-controller="dropdown" data-action="click@window->dropdown#closeUnlessDropdown" class="relative">
        <%= link_to "#", data: { action: "dropdown#toggle" } do %>
          <%= render Icons::EllipsisVerticalComponent.new %>
        <% end %>
        <%= render "dropdown", component_pack: component_pack %>
      </div>
    </div>

    <div>
      <a href="<%= admins_component_pack_path(component_pack) %>" class="text-blue-500 hover:text-blue-700">
        View
      </a>
    </div>
  </div>
</div>