<% @page_title = [@component_pack.name, "Components"].compact.join(" ") %>
<% @meta_description = @component_pack.description + Seo::Description %>

<%= turbo_stream_from @component_pack %>
<div class="max-w-5xl w-full mx-auto mt-8 px-4 md:px-0">
  <h1 class="text-2xl text-gray-900 text-center"> <%= @component_pack.name %> </h1>

  <div class="relative max-w-2xl w-full mx-auto mt-10 flex flex-col" id="ai-component-form">
      <%= form_with url: ai_components_path(component_pack_id: @component_pack.id), model: AiComponent.new do |f| %>
        <%= f.text_field :ai_prompt, class: "w-full rounded-full py-3 border-2 border-gray-300 outline-none peer pr-24", placeholder: "Create a new component", required: true %>
        <div class="absolute right-0 top-0 bg-white h-full w-24 text-indigo-700 rounded-r-full border-r-2 border-gray-300 border-t-2 border-b-2 rounded-r-full peer-focus:ring-indigo-500 peer-focus:border-indigo-500 overflow-hidden">
          <%= button_to "Prompt", class: "w-full h-full flex items-center justify-center hover:bg-gray-300" do %>
            <div class="w-8">
              <%= render Icons::CheckComponent.new %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  
  <div class="grid gap-x-8 gap-y-16 mt-8 <%= @component_pack.container_css %>">
    <% @component_pack.ai_components.order(created_at: :desc).each do |ai_component| %>
      <div>
        <%== ai_component.html_content %>
        <div class="mt-4">
          <%= link_to "View component", ai_component, class: "p-2 bg-gray-500 text-gray-50 rounded-lg" %>
        </div>
      </div>
    <% end %>
  </div>
</div>