<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="<%= asset_path("brain.svg") %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= Seo::Title %> <%= "| #{@page_title}" if @page_title.present? %></title>
    <meta name="description" content="<%= @meta_description || Seo::Description %>">
    <meta name="stripe-public-key" content="<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>">
    <meta property="og:title" content="<%= Seo::Title %>">
    <meta property="og:description" content="AI Generated Tailwindcss Components. Instantly create beautiful UI with Tailwind Genius">
    <meta property="og:image" content="<%= asset_url("screenshot.png") %>">
    <meta property="og:url" content="https://www.tailwind-genius.com">
    <meta name="twitter:title" content="<%= Seo::Title %>">
    <meta name="twitter:description" content="AI Generated Tailwindcss Components. Instantly create beautiful UI with Tailwind Genius">
    <meta name="twitter:image" content="<%= asset_url("screenshot.png") %>">
    <meta name="twitter:card" content="<%= asset_url("screenshot.png") %>">
    <meta name="twitter:site" content="@Enoch9453956618">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if Rails.env.production? %>
      <meta name="google-analytics-tracking-id" content="G-NL09GEZ6B5">
      <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=G-NL09GEZ6B5" %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/alerts" %>
    <%= yield %>
  </body>
</html>
