<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || Seo::Title %></title>
    <link rel="icon" type="image/png" href="<%= asset_path("brain.svg") %>">
    <meta name="description" content="<%= yield(:meta_description) || Seo::Description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="stripe-public-key" content="<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>">
    <meta property="og:title" content="<%= Seo::Title %>">
    <meta property="og:description" content="AI Generated Tailwindcss Components. Instantly create beautiful UI with Tailwind Genius">
    <meta property="og:image" content="<%= asset_url("screenshot.png") %>">
    <meta property="og:url" content="https://www.tailwind-genius.com">
    <meta name="twitter:title" content="<%= Seo::Title %>">
    <meta name="twitter:description" content="AI Generated Tailwindcss Components. Instantly create beautiful UI with Tailwind Genius">
    <meta name="twitter:image" content="<%= asset_url("screenshot.png") %>">
    <meta name="twitter:card" content="<%= asset_url("screenshot.png") %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if Rails.env.production? %>
      <meta name="google-analytics-id" content="G-NL09GEZ6B5">
      <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=G-NL09GEZ6B5" %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/alerts" %>
    <%= yield %>
  </body>
</html>
